    <div id="footer">
        <div id="foot-top">
            <div id="mn">
                <ul>
                    <li><a class="taw" href="">Home</a></li>
                    <li><a class="taw" href="">About Us</a></li>
                    <li><a class="taw" href="">Contact Us</a></li>
                    <li><a class="taw" href="">Terms and Condition</a></li>
                    <li><a class="taw" href="">Privacy Policy</a></li>
                </ul>
                <div class="rec">
                    <div class="soc">
                        <a href=""><img src="../media/images/facebook.png" /></a>
                        <a href=""><img src="../media/images/twitter.png" /></a>
                        <a href=""><img src="../media/images/google.png" /></a>
                        <a href=""><img src="../media/images/linkedin.png" /></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
