<div id="wrapper">
  <div id="header">
    <div id="head-gra">
      <div id="head-top">
	<div id="head-nav">
          <div id="head-menu">
            <ul>
              <li><a href="" class="active">Homepage</a></li>
              <li><a href="{{url_base}}/about">About</a></li>
              <li><a href="">Contact Us</a></li>
            </ul>
          </div>
	</div>
      </div>
      <div id="head-ban">
	<a href=""><div id="head-logo"><img src="../media/images/logo1.png" /></div></a>
	<div id="head-bantext">A First Step To Startup</div>
      </div>
    </div>
  </div>

