{% extends "template/base/talk_base.html" %}

{% block content %}
<div id="wrapper">
  <div id="content">
    {% include "template/menues/main.html" %}
    <div id="cont-right">
      <h3>SSDs boost Instagram's speed on Amazon EC2</h3>
      <div class="shadtop"></div>
      <p class="contbold">What is a DNS?</p>       
      <p>
	When you write a URL into a browser in order to request a server, you don’t specify the IP address of that server, do you? You do not because when the Internet was becoming more popular, people had no way of remembering the IP address of a server hence the creation of the Domain Name Service. When you write www.talkaboutweb.com, your browser contacts a DNS server in order to receive the correct IP address of my server-that is because I registered the name when I bought the domain name. Your browser now has the URL it has to send, the IP address of the server to reach, it is ready to send the request. 
The United States of America mostly owns the DNS servers. DNS currently handles about thirty-five thousands name lookup a second. Therefore, you can assume they own more than one server. In fact, they operate via a distributed system in order for all of their servers to respond the correct data without failing.
      </p>
                        
      {% include "template/base/bullshit_footer.html" %}
{% endblock %}
 





