{% extends "template/base/talk_base.html" %}

{% block content %}
<div id="wrapper">
  <div id="content">
    {% include "template/menues/main.html" %}
    <div id="cont-right">
      <h3>SSDs boost Instagram's speed on Amazon EC2</h3>
      <div class="shadtop"></div>
      <p class="contbold">What is an ip address?</p>       
      <p> 
IP address is like the address you use to go see a person’s house. It is used to detect the physical address of a server. The numbers are used to get closer and closer to your server. An analogy, let’s say you were to surprise your best friend who currently lives in Seoul, Korea. You first hope that a cab can just take you there. However, that’s not certainly the case especially in enormous cities. So just in case you make sure you know how to get to the neighborhood. Then you expect people to know more about that specific address, so you ask where the closest main street is. Once you get there, you ask where the street he lives is. Then the people around there should definitely be able to decrypt the address and tell you where it is. And you can successfully surprise your friend. 
As you would expect IP address must be unique per machine. Who manages that?

      </p>
                        
      {% include "template/base/bullshit_footer.html" %}
{% endblock %}
 

