{% extends "template/base/talk_base.html" %}

{% block content %}
<div id="wrapper">
  <div id="content">
    {% include "template/menues/main.html" %}
    <div id="cont-right">
      <h3>SSDs boost Instagram's speed on Amazon EC2</h3>
      <div class="shadtop"></div>
      <p class="contbold">What is a server architecture?</p>       
      <p>
	We learned that a server is a black box to which we can request things. A server can also request another server 
	something as well. Basic scaling technics include separating the server that holds the database from the server 
	who handles the web request. You can also have multiple servers serving web request. 
      </p>
                        
      {% include "template/base/bullshit_footer.html" %}
{% endblock %}
 





