{% extends "template/base/talk_base.html" %}

{% block content %}
<div id="wrapper">
  <div id="content">
    {% include "template/menues/main.html" %}
    <div id="cont-right">
      <h3>SSDs boost Instagram's speed on Amazon EC2</h3>
      <div class="shadtop"></div>
      <p class="contbold">What is angel funding?</p>       
      <p>
A startup may have cost in its beginning. They are then two options to resolve that. The first and the most famous, is getting angel funding. Somebody that believes in you will give you money for a piece of an uncompleted product, yet-to be a company. Then the money you receive is then used for you to actually get paid while you are working because no body can work without getting paid to cover personal costs. Usually, I have seen people spend other people’s money very easily, and going though too many unnecessary round of investments. Some actually get fired when the company is totally owned by the inverstor. The issue here is simple economics. If you want to be a successful company, you have to reduce cost. What if you operate at a lower cost and have the same profit margin, isn’t that something to consider? Competition between any company is maximizing the ration cost to value. So reducing cost is one side of the coin, increasing value is the other side. 
Reducing cost in a startup is simple if your programmer. This is the second way to build a startup: stay a couple hours later than usual at night, and build your company. Partners can help off-loading some of the work. Then you have an absolutely free company. A lot of successful startup went through this process. 37signals is an obvious example. No investors were needed and they actually started working full-time only when the company started being sustainable.

//to review
A financial view of a startup is an ultra-competitive market. How do you make more money, if you can’t change your price, and reached maximum demand, because they are so many competitors around you? Lower cost. A startup behaves exactly like an ultra-comptetiveness business. Even though you may not have direct competitor, your are trying to create a new market, and therefore, every other hundreds startup around are in the same business as yours. 
How do you get better than them? Lower cost.
Reducing cost image in a competitive market. 

      </p>
                        
      {% include "template/base/bullshit_footer.html" %}
{% endblock %}
 





