{% extends "template/base/talk_base.html" %}

{% block content %}
<div id="wrapper">
  <div id="content">
    {% include "template/menues/main.html" %}
    <div id="cont-right">
      <h3>SSDs boost Instagram's speed on Amazon EC2</h3>
      <div class="shadtop"></div>
      <p class="contbold">How to hire programmer?</p>       
      <p>
It gets more difficult to lower cost when you are not a programmer. Once again they are two ways to hire programmers. The first is to not hire a programmer. Partnering up with someone you trust, and most important that trust you can be extremely beneficial. That can happen only if there is work to do already from the business person whether it is marketing, sales, anything.
</br>A programmer might feel like a business partner might not be getting his hand dirty enough to own half of the company. And most often during that time the business partner will try to make up work in order to get busy. It gets very unhealthy, and pulling a partnership is extremely difficult. However, as a programmer I would partner up with any man who can sell my product well. Therefore starting from the ground up as a business oriented person might be harder, but catching on to a launched start up is definitely a right choice.
</br>Hiring programmers does work too. Plenty of programmers are looking for a job, especially a job at a cool startup where people can show up at 11am. The usual process is to have freelancer build a prototype, a prototype that can determine how long would it be to get the smallest version of the product built so that there can business as soon as possible. Many big software companies tries to release their product as soon as possible to stop the cost short, sometimes even to the peril of customers. Once that’s done you can actually have a company up and running. 
</br>Usually the problem with hiring in a startup that has funding is simply too much hiring. I have so many business people who only think of who they can hire to do a specific job. I believe people should rather consider what they could do for the company, than rather think what others could do. Often, we underestimate what we can do, and overestimate what others could do, but let’s not remember the fundamental rule, lowering cost should be a priority. If you can do it, do it. 
</br>I actually learned programming on my own, it takes a year to be able to understand how to build a website correctly. I advise any non programmer to learn how to program. That will help communication between you and the programmers, and it will give a better understanding of what you are doing. Sometimes building a company requires more knowledge than one might expect. 

      </p>
                        
      {% include "template/base/bullshit_footer.html" %}
{% endblock %}
 





