{% extends "template/base/talk_base.html" %}

{% block content %}
<div id="wrapper">
  <div id="content">
    {% include "template/menues/main.html" %}
    <div id="cont-right">
      <h3>SSDs boost Instagram's speed on Amazon EC2</h3>
      <div class="shadtop"></div>
      <p class="contbold">What is a startup?</p>       
      <p>
A startup is a business plan, which is scalable and repeatable. Not every emerging company is a startup; usually a startup is a technology-oriented company. A software company for instance will need to build one piece of software that it may sell to different type of clients. That software is scalable because it can be sold to as much client, and it is repeatable because different types of clients can use this software. 
A startup then is particular in the sense that it doesn’t do much business before the product is built. In any other type of company, the product is either bought or produced right away. Somebody selling hot dogs in the street will need to buy a cart to display his hotdog, and the ingredients to make hot dogs. Therefore, his company can be evaluated right away to the cost of those items. Now a software company which has a software that’s not completed, how much do you believe is worth? Not much, maybe in accounting we can do a simple ratio to determine what to allocate what year. But does it really mean anything to have half a piece of software? Not really, this is similar to building construction. However, you can’t sell your building more than its capacity! It’s not scalable and therefore is not a startup.
A startup by definition is then risky. Your product might never get completed for various reasons, once completed it might not sell as well as you expected, you might have competitor doing stealing all your market… So what’s the point? There has been a dozen successful startups that everybody can name for about thirty thousands failure a years. So is it worth the risk? That’s for you to judge.
The typical way to resolve not being actually in business the first few months or years is to get funding. The question remains about how are you supposed to create value, that you are going to sell to an investor, without a product or a market? That’s when startups gets weird and that’s the reason a lot of startup stops getting money before achieving a certain point. I am going to explain this with an analogy:

Financial Option Call:
Getting a long position on an option call is exactly like building a startup. You pay a lower price, have greater risk and expect higher return. The return of a successful startup is like a incredible leveraged option. 
Another phenomenon is that if a startup does well, it is expected to keep doing well. By nature, the technology can be sold to anyone. Having one successful relationship with a client can be multiplied to hundreds of other clients. However, if you can’t get one client, then your costs will empty your bank account. Your odds gets better or worst as time go by, and you should see soon a tipping point.
What are you really selling if you have no software, or not even a company? You sell yourself, and hope that someone will believe that you are worth that amount of money. Selling yourself is an incredible hard position to have. 

Creating Value:
The most elegant aspect of a startup is that by nature you build a product that people need. If you are very successful, you build a product that people starts to need. Out of blue, you created a new market that actually has a value meaning that people are ready to pay a price for it. Creating a new market creates more job, it creates more wealth, it adds to a more powerful economy through technology. Of course, the effect of technology on society, or on economy is not the scope of this website. However, the only declaration is that it is very satisfying to build a market.

      </p>
                        
      {% include "template/base/bullshit_footer.html" %}
{% endblock %}
 





